#components-layout-demo-top .logo {
    width: 120px;
    height: 100%;
    float: left;
    background: transparent;
    transition: 500ms ease background;
    cursor: pointer;
    padding-top: .7%;
    &:hover{
        background: rgba(255, 255, 255, 0.1);
    }
    .logo-image{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 75%;
    }
}
.ant-layout-header {
    .ant-menu{
        i{
            font-size:  16px;
        }
        font-size: 16px;
    }
}
#components-layout-demo-top .ddAvatar {
    width: auto;
    color:rgba(255, 255, 255, 0.65);
    float: right;
    transition: 500ms ease color;
    &:hover{
        color: rgba(255, 255, 255, 1);
    }
}
.ant-menu-item{
    padding: 0 0px;
    a{
        padding-left: 10px;
        padding-right: 10px;
        transition:500ms ease background;
        &.active{
            background-color: #1890ff;
        }
    }
}