.section-login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2f54eb;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    font-family: Avenir,-apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
    #components-form-demo-normal-login .login-form {
        max-width: 400px;
        margin:auto;
        @media (max-width:600px){
            max-width: 100%;
        }
    }
    #components-form-demo-normal-login .login-form-forgot {
        float: right;
    }
    #components-form-demo-normal-login .login-form-button {
        width: 100%;
    }
    .ant-card-bordered {
        border: 1px solid transparent;
        box-shadow: 0 0 30px 0 rgba(1,46,88,0.3);
    }
    .LogoLogin{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        margin-top: 7%;
        padding-top: 28%;
    }
}