@import "./assets/css/all.scss";
@import "./assets/css/login.scss";
*{
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  outline: none;
  ul{
      margin-block-start: unset;
      margin-block-end: unset;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: unset;
  }
  -webkit-tap-highlight-color: transparent;
  -moz-osx-tap-highlight-color: transparent;
  button{
      outline: none;
  }
}
html,body{
  background: rgba(255,255,255,.2);
}